<!DOCTYPE html>
<html lang="en">
<head>
  {{ content_for_header  }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trendora</title>
</head>
<body>
    {{ content_for_layout  }}
</body>
</html>